<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
	<a href = '{{url_for("newRestaurant", restaurant_id=restaurant.id)}}'> Create New Restaurant</a>

  {% for restaurant in restaurants%}

  <h1>{{restaurant.name}}</h1><br><br>

  <a href='{{url_for("editRestaurant",restaurant_id = restaurant.id)}}' >Edit</a><br><br>
  <a href='{{url_for("deleteRestaurant", restaurant_id = restaurant.id)}}' >
  Delete</a>
  {% endfor %}

  <body>

  </body>
</html>
